* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  padding: 50px;
}

main {
  padding: 20px 10% 40px 10%;
}

main p {
  text-align: justify;
}

.welcome {
  font-family: 'Lucidia', serif;
  font-size: 60px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 100px 20%;
}

.welcome p {
  margin: 0;
}

.welcome h1 {
  text-align: left;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: baseline;
  border: 0;
  padding: 0;
  margin: 0;
}

footer {
  padding: 10px;
  background-color: rgb(90, 90, 90);
  text-align: center;
  flex-shrink: 0;
}

footer p {
  color: rgb(206, 206, 206);
}

.intent-p p {
  padding-left: 20px;
}

.action {
  margin: 0;
  padding-top: 10px;
  display: inline-block;
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.action span {
  display: none;
}

.action ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.action ul li img {
  vertical-align: middle;
  height: 20px;
}

.action ul li a {
  margin: 0;
  padding: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.action ul li {
  margin: 5px;
  border: 2px transparent solid;
}

.action ul li:hover {
  border: 2px black solid;
  border-radius: 6px;
}

.action ul li a:hover {
  color: black;
}


nav {
  margin: 0;
  text-align: center;
}

.bottom-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.bottom-nav li {
  display: inline-block;
}

.bottom-nav a {
  font-weight: normal;
  padding: 8px;
  margin: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px transparent solid;
}

.bottom-nav a:hover {
  border: 1px rgb(255, 248, 240) solid;
  border-radius: 2px;
}

a {
  color: rgb(156, 156, 156);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin: 0;
}

hr {
  max-width: 50%;
  border-top: 5px black solid;
  margin-bottom: 20px;
}

article {
  padding: 0 20px;
}

figure {
  max-width: 60%;
  margin: 20px auto 20px auto;
  padding: 20px;
  background-color: white;
  border: 2px black solid;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.left_figure {
  width: 300px;
  margin: 20px 20px 20px 0;
  float: left;
}

figcaption {
  padding-top: 10px;
  border-top: 2px solid black;
}

.tile3 {
  display: flex;
  flex-wrap: wrap;
}

.tile3 article {
  flex: 25%;
  margin: 0 5px;
  border: 2px black solid;
  background-color: rgb(231, 231, 231);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.tile3 img {
  max-width: 100%;
}

.about_img {
  max-width: 300px;
  justify-content: flex-start;
  max-width: 30%;
}

.poem_tile {
  display: flex;
  flex-wrap: wrap;
}

.poem_image {
  flex: 320px;
}

.poem {
  font-style: italic;
  flex: auto;
}

#content {
  flex: 1 0 auto;
}

#top_info {
  text-align: center;
  padding-top: 100px;
}

#name {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

#name a {
  color: black;
  text-decoration: none;
}

#top_info p {
  color: black;
}

#bottom_info {
  padding-top: 20px;
}

@media all and (max-width: 1500px) {
  main {
    padding: 20px 5% 40px 5%;
  }
  .about_img {
    max-width: 40%;
  }
}

@media all and (max-width: 950px) {
  .tile3 {
    flex-direction: column;
  }
  .tile3 hr {
    min-width: 80%;
    border-top: 2px black solid;
    border-left: none;
  }
  .tile3 article {
    margin: 5px 0px;
  }
}

@media all and (max-width: 875px) {
  header {
    background-size: auto 100%;
  }
}

@media all and (max-width: 750px) {
  header {
    padding: 0;
  }
  main {
    padding: 20px 5% 40px 5%;
  }
  figure, .left_figure {
    width: auto;
    max-width: 50%;
    margin: 20px auto;
    float: none;
  }

  .welcome {
    font-size: 35px;
    padding: 20px 0 100px 0;
  }

  .action {
    min-width: auto;
    position: fixed;
    top: auto;
    bottom: 25px;
    left: 25px;
    width: 53px;
    height: 53px;
    padding: 0;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  }
  .action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    transition: 0.3s ease-in-out
  }
  .action.active span {
    transform: rotate(180deg);
  }
  .action ul {
    position: absolute;
    left: 0px;
    bottom: 25px;
    background: white;
    min-width: 168px;
    padding: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    opacity: 0;
    display: inline;
    visibility: hidden;
    transition: 0.3s;
  }
  .action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }

  .action ul li {
    list-style: none;
    display: flex;
    align-items: left;
    padding: 0;
    margin: 5px;
  }
}

@media all and (max-width: 650px) {
  figure, .left_figure {
    max-width: 80%;
  }
  .about_img {
    max-width: 80%;
  }
}