@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin: 0;
  background-color: rgb(255, 248, 240);
}

header {
  padding: 10px;
  margin-bottom: 20px;
  background-image: url("https://alexscerba.com/Media/Detroit/Canada.jpg");
  background-size: 100% auto;
  background-position: center;
}

main {
  padding: 0 20% 0 20%;
}

main p {
  text-align: justify;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(48, 48, 48);
  text-align: center;
}

footer p, a {
  color: rgb(156, 156, 156);
}

nav {
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: normal;
  padding: 8px;
  margin: 0;
  color: rgb(255, 248, 240);
  text-decoration: none;
  border: 1px transparent solid;
}

nav a:hover {
  border: 1px rgb(255, 248, 240) solid;
  border-radius: 2px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin: 0;
}

.tile3 {
  display: flex;
  flex-wrap: wrap;
}

.tile3 article {
  flex: 25%;
  max-width: auto;
  padding: 15px;
}

.tile3 img {
  max-width: 100%;
}

.tile3 hr {
  border-top: none;
  border-left: 2px black solid;
}

.h2bar {
  max-width: 50%;
  border-top: 5px black solid;
  margin-bottom: 35px;
}

#top_info {
  text-align: center;
  padding: 40px;
}

#name {
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 248, 240);
}

#top_info p {
  color: rgb(255, 248, 240);
}

#bottom_info {
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  main {
    padding: 0 10% 0 10%;
  }
  .tile3 {
    flex-direction: column;
  }
  .tile3 hr {
    min-width: 80%;
    border-top: 2px black solid;
    border-left: none;
  }
}